<h1>Recipe Book</h1>
<hr>
<% @recipes.each do |recipe| %>
  <p><%= recipe.name %> - <%= recipe.instructions %> <%= link_to "View Recipe", recipe_path(recipe) %></p>
<% end %>

<% if current_user %>
  <hr>
  <%= link_to "Add New Recipe", new_recipe_path %>
<% end %>